html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(231, 231, 154);
}


.container{
    
    height: 91vh;
    width: 30vw;
    background-color: #ffff;
    margin: auto;
    margin-top: 20px;
  
    
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(173, 168, 168, 0.671);
    background-color:#b4acac21; 
    line-height: 40px;
  
}

.header .heading-icon{
    font-size: 3rem;
    padding: 1rem;
   
}

.header h1{
  
    font-family: 'Playball', cursive;
    opacity: 85%;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;
    
}

.userprofile{
    height: 5rem;
    display: flex;

}

.image img{
    width: 50px;
    height:50px;
    border-radius: 50% ;
    border: 1px solid rgb(253, 88, 212);
    margin-top: 5px;
    margin-left: 5px;
    

}
h3{
    margin-top: 20px ;
    margin-left: 10px;
    font-size: 20px;
    
}

.userprofile span{
    font-size: 3rem;
 
}

.dots{
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    transform: rotate(90deg);
}

.postimage{
    display: flex;
    position: relative;
     margin-top: 10px;
}

.postimage img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.commentpart{
    display:flex;
    margin-top: 6px;
   

}


  .lefticon {
    margin-left: auto;
    padding-right: 10px;
    font-size: 25px;
}

.commentpart .centericon{
    margin-left: auto;
    padding-right: 10px;
 
}

.share{
    transform: rotate(330deg);
    margin-left: 10px;
    margin-top: -4px;
   

}
.commentpart .like .comment{
    margin-right: 7px;


}


.commentpart .like{
    color: red;
    font-size: 25px;
    
}

.content{
    margin-top: 8px;
    margin-left: 5px;
}

.addcomment{
    display: flex;
    margin-top: 30px;
    border-top: 1px solid gray


}

.addcomment input{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.addcomment button{
    width: 7rem;
    color: #1e3bdf;
    border: none;
    outline: none;
    padding: 5px;
    background-color: #ffff;
    font-weight: 700;
}

.addcomment .imoji{
    color: #161616;
    margin-top: 5px;


}


